footer.footer.mt-auto.py-3.bg-dark.position-relative.bottom-0.start-0.end-0
    div.container.d-flex.justify-content-center
        li: a.link-warning(href="#") About us
        li: a.link-warning(href="#") Download apps
        li: a.link-warning(href="#") Become a guide
        li: a.link-warning(href="#") Careers
        li: a.link-warning(href="#") Contact
    div.d-flex.justify-content-center.mt-2
        img.cover.rounded-circle.mx-2(src='/img/favicon.jpg' width='28px' height='28px' style="object-fit: cover;" alt='Footer Logo')
        span.text-white.text-center &copy; By Dhruv. Feel Free to use this project for your learning purposes.